[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/*_BurstDebugInformation_DoNotShip/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/
.idea/
MemoryCaptures/
Recordings/

*.csproj.user
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt

# Keep distributable builds
!Builds/
!Builds/**
